@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    font-family: Nunito, sans-serif;
    --base: #f1f1f1;
    --aside: #c2c2c2;
    --header: #323232;
    --text: #131313;
}

body {
    background-color: var(--base);
    color: var(--text);
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: max-content 1fr min-content;
}

img > path{
    stroke: var(--text)
}

header {
    color: var(--base);
    grid-column: span 2;
    display: flex !important;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    background-color: var(--header);
    padding: 1rem 1rem !important;
}

aside {
    background-color: var(--aside);
    padding: 1rem 0.5rem 1rem 1rem !important;
}

#default-buttons {
    margin-bottom: 2rem;
}

aside > section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#projects > h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.menu-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 .5rem;
    border-radius: .25rem;
    cursor: pointer;
}

.menu-option > img {
    width: 1.5rem;
}

.menu-option:hover, .selected {
    backdrop-filter: brightness(0.85);
}

footer {
    grid-column: span 2;
}

