@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    font-family: Nunito, sans-serif;
    --base: #f1f1f1;
    --aside: #c2c2c2;
    --header: #323232;
    --text: #131313;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--base);
    color: var(--text);
    display: grid;
    grid-template-columns: 270px 3fr;
    grid-template-rows: max-content 1fr min-content;
}

header {
    color: var(--base);
    grid-column: span 2;
    display: flex !important;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    background-color: var(--header);
    padding: 1rem 1rem !important;
}

aside {
    background-color: var(--aside);
    padding: 1rem 0.5rem 1rem 1rem !important;
}

#default-buttons {
    margin-bottom: 2rem;
}

aside > section, #projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section > h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.menu-option, #project-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 .5rem;
    border-radius: .25rem;
    cursor: pointer;
}

.menu-option > p {
    flex: 1;
}

.menu-option > img, #project-container > img {
    width: 1.5rem;
}

.menu-option:hover, .selected, #project-container:hover {
    backdrop-filter: brightness(0.85);
}

.menu-option:hover > .close-project {
    visibility: visible;
}

footer {
    grid-column: span 2;
    background-color: var(--header);
    color: var(--base);

    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0.5rem !important;
    gap: 1rem;
}

footer > a > img {
    width: 1.75rem;
}

footer > a > img:hover {
    opacity: 0.85;
}

.close-project {
    visibility: hidden;
}

img.close-project {
    width: 1rem;
    background-color: var(--text);
    border-radius: 1rem;
    padding: 0.1rem;
}

.invisible {
    display: none !important;
}

#add-project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
}

#add-project-container > input {
    border-radius: 0.5rem;
    outline: 0;
    padding: 0.25rem 0.25rem;
    border: none;
    grid-column: span 2;
}

#add-project-container > button {
    border: 0;
    padding: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#project-save {
    background-color: #6eb569;
}

#project-cancel {
    background-color: #b56969;
}

#task-heading {
    margin-bottom: 1rem;
}

main {
    margin: 1rem 4rem;
}

.task-element {
    padding: 0.5rem;
    display: grid;
    gap: .5rem;
    align-items:self-start;
    grid-template-columns: max-content 1fr repeat(3, max-content);
    margin-bottom: 1rem;
}

.checkbox {
    align-self: self-start;
    grid-row: span 2;
}

.low {
    background: linear-gradient(to right, #6eb569,#6eb569 4px, white 4px);
}

.medium {
    background: linear-gradient(to right, #b59369,#b59369 4px, white 4px);
}

.high {
    background: linear-gradient(to right, #b56969,#b56969 4px, white 4px);
}

.task-title {
    font-weight: 700;
}

.task-element > img {
    width: 1rem;
}

.task-element > img:first-of-type {
    margin: 0 1rem;
}